<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Boltbit</title>
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		
		<meta
			name="description"
			content="Empresa enfocada en soluciones tecnologicas y desarrollo de herramientas de software para empresas, tambien brindamos servicios para equipos fisicos como mantenimientos e instalaciones"
		/>

		<meta property="og:url" content="https://www.boltbitcr.com" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="Boltbit" />
		<meta
			property="og:description"
			content="Empresa enfocada en soluciones tecnologicas y desarrollo de herramientas de software para empresas, tambien brindamos servicios para equipos fisicos como mantenimientos e instalaciones"
		/>

		<meta property="og:locale" content="es_ES" />
		<meta property="og:site_name" content="Boltbit" />

		<meta
			name="twitter:title"
			content="Boltbit"
		/>
		<meta
			name="twitter:description"
			content="Empresa enfocada en soluciones tecnologicas y desarrollo de herramientas de software para empresas, tambien brindamos servicios para equipos fisicos como mantenimientos e instalaciones"
		/>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
